.toDoList {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 30rem;
  background-color: #ece0d1;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  border-radius: 10px;
}
